<!-- language navigation -->
<div class="language-navigation">
  <%= link_to 'Deutsch', refinery.url_for(:locale => :de) %>
  <%= link_to 'Francais', refinery.url_for(:locale => :fr) %>
</div>

<h1>
  Melinda
  <span class="heart"></span>
  Romain
</h1>
<h2>23.08.2014</h2>
<h2>15:00</h2>
