/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require_tree .
 */

*{
  color: #7f7f7f;
  font-family: 'Droid Serif', serif;
}

#page_container{
  margin: 0 auto;
  max-width: 1200px;
}

#body_content_title, #side_body{
  display: none;
}

header{
  max-width: 800px;
  margin: 0 auto;
}

span.heart{
  display: inline-block;
  background-image: url('/assets/herz.png');
  width: 47px;
  height: 40px;
}

.language-navigation{
  text-align: right;
  padding: 20px 0;
}

#body{
  max-width: 800px;
  margin: 0 auto;
}

#body h2{
  text-align: center
}

#body img{
  max-width: 1200px;
  margin-left: -200px;
  height: auto;
}

#body p{
  padding: 10px 0 30px;
}

#body p:after{
  content: '';
  display: block;
  width: 47px;
  height: 40px;
  background-image: url('/assets/herz.png');
  position: relative;
  left: 50%;
  margin-left: -23px;
  margin-top: 30px;
}
